.MuiToolbar-root {
    background: #2b2a29;
}

.topbarMenu:hover {
    border-bottom: solid 1px #f5f4f0 !important;
}

.topbarMenu:active {
    border-bottom: solid 1px #f5f4f0 !important;
}

.topbarMenu {
    border-radius: 0%  !important;
    color: #f5f4f0 !important;
}