img {
    height: 508px;
}

.MuiContainer-root {
    padding: 0px 0px 0px 0px !important;
    max-width: none !important;
    overflow-x: hidden !important;
}

.darkSection {
    background-color: #2b2a29;
    color: white;
    min-height: 470px !important;
}

.darkSectionContainer {
    padding: 2rem 0;
    display: flex;
    margin: auto;
    max-width: 960px;
}

.darkSection h4 {
    color: #f5f4f0;
    font-weight: 300;
}

.darkSection .body2 {
    color: white;
}

.lighterSection {
    color: white;
    padding: 2rem 0;
}

.whiteSection {
    padding: 2rem 0;
    display: flex;
    margin: auto;
    min-height: 600px;
    max-width: 960px;
}

.sectionContent {
    padding: 2rem;
}

.sectionContent .MuiTypography-h4 {
    margin-bottom: 2rem;
}

.sectionContent .MuiGrid-rood {
    margin-right: 2rem;
}