.ContactFormContainer {
    background-color: #2b2a29 !important;
    border: 0px !important;
    padding: 20px;
    text-align: left;
}

.ContactFormContainer h4 {
    font-size: 16px;
    text-align: center;
}


.outlined-basic .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #9e9d9d !important;
}

.outlined-basic .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #9e9d9d !important;
}


.outlined-basic .MuiInputLabel-root {
    color: #9e9d9d !important;
    font-size: 13px;
    font-weight: 400;
}

.MuiButton-contained {
    background-color: #f5f4f0 !important;
    color: #2b2a29 !important;
}

.error-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: red !important;
}

.error-field .MuiFormHelperText-root {
    color: red !important;
}

.MuiInputBase-input {
    font-size: 13px !important;
    color: #f5f4f0 !important;
}

.alertMessage{
    border: 1px solid #1ba122 !important;
}