.MuiDrawer-paper {
    width: 20%;
    max-width: 200px;
    min-width: 150px;
    background-color: #ffffff !important;
}


.MuiButtonBase-root.MuiListItemButton-root:hover {
    font-weight: bold;
    background-color: #fafafa;
    color: rgba(0, 42, 92, 1);
    border-left: 4px solid rgb(11, 53, 105);
}

.MuiButtonBase-root.MuiListItemButton-root:hover .MuiSvgIcon-root {
    color: rgba(0, 42, 92, 1);
}

.MuiButtonBase-root.MuiListItemButton-root:hover .MuiTypography-root {
    color: rgba(0, 42, 92, 1);
}

.MuiListItemIcon-root {
    min-width: 30px !important;
}

.MuiButtonBase-root.MuiListItemButton-root .MuiSvgIcon-root {
    color: #4A4A4A;
    font-size: 20px;
}